body {
    font-family: "Times New Roman", Times, serif;
    margin: 20px;
    background-color: #ebd8b3;
}

#test-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; /* Center the title and description */
}

h1, p {
    text-align: center; /* Keep the title and paragraph centered */
}

label {
    display: block; /* Makes each question on a new line */
    margin-bottom: 10px;
    text-align: left; /* Left align the questions */
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}
