body {
    font-family: "Times New Roman", Times, serif;
    margin: 20px;
    background-image: url('images/my_m.png'); /* Set the image as the background */
    background-repeat: repeat; /* Repeat the image in both directions (horizontal and vertical) */
    background-size: 100px 100px;
}

#test-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; /* Center the title and description */
}

h1, p {
    text-align: center; /* Keep the title and paragraph centered */
}

label {
    display: block; /* Makes each question on a new line */
    font-size: 15px;
    margin-bottom: 1px;
    text-align: left; /* Left align the questions */
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 20px;
}

#submit-btn {
    font-family: "Times New Roman", Times, serif;
    background-color: #9d2a11;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#submit-btn:hover {
    background-color: darkred;
}

#clear-btn {
    font-family: "Times New Roman", Times, serif;
    background-color: #ffffff;
    color: #9d2a11;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#clear-btn:hover {
    background-color: darkred;
}

#title-image {
    display: block; /* Ensures it's a block element */
    margin: 0 auto 20px; /* Centers the image horizontally and adds space below it */
    width: 900px; /* Adjust the image width as needed */
    height: auto; /* Maintain the aspect ratio */
}
